*{
    margin: 0;
    padding: 0;

}
/*INICIO SECCION NAV*/

nav{
    display: flex;
    background-color: black;
    justify-content: right;
    padding: 25px 25px;
    text-transform: uppercase;
    
}
a{
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgb(230,221,196);
    padding: 10px 10px;
    margin-right: 35px;
    text-decoration: none;
    color: black;
    box-shadow: 3px 3px 0px rgb(103,137,131);
}
button:hover{
    cursor: pointer;
}
/*FIN SECCION NAV*/

/*INICIO SECCION MENU*/
.conteiner{
    background-color: lightpink;
    background-image: url("Imagenesjc/codigo.jpg");
    background-size: cover;
    background-attachment: fixed;

}
h1{
    color: rgb(238,238,238);
    text-align: center;
    font-size: 55px;
    padding: 80px 80px;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px grey,
                7px 7px 0px black;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*FIN SECCION MENU*/

/*INICIO SECCION MAIN*/
main{
    /*display: flex;*/
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px;
    background-color: rgb(24,28,48);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;
}
    section{
    border: 4px solid goldenrod;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
}


    h2,h3,h4{
        color: rgb(103,137,131);
        font-size: 40px;
        font-family: Lucida;
    }

    
    .seccionUno{
        grid-column: 1/4;
        background-color: rgb(24,28,48);
        grid-row: 1 span 2;
    }
    .seccionDos{
        grid-column: 1/4;
        background-color: rgb(24,28,48);
        grid-row: 1 span 2;
    }
    .seccionTres{
        grid-column: 1/4;
        background-color: rgb(24,28,48);
        grid-row: 1 span 3;
    }
    .parrafoUno > p{
        color: rgb(230,221,196);
    }
    .parrafoDos > p{
        color: rgb(230,221,196);
    }
    .parrafoTres > p{
        color: rgb(230,221,196);
    }
    

/*FIN SECCION MAIN*/

/*INICIO SECCION VIDEO*/
.seccionTitulovideo{
    background-color: rgb(24,28,48);
    color: rgb(103,137,131);
    font-size: 50px;
    padding: 60px 60px;
    text-align: center; 
}

.barraVideo{
    display: block;
    width: 1000px;
    border: 5px solid crimson;
    background-color: rgb(24,28,48);
    text-align: center;
    align-items: center;
    padding: 40px 
}

    .videoUno{
        width:65% ;
        padding: 0px 20px 20px;
    } 
    

    .seccionBotones{
        background-color: gray;
        display: flex;
        padding: 10px 40px ;
        width: 50%;
        text-align: center;
        align-items: center;
        

    }
    button{
        border-bottom: 1px 1px 0px black;
        border-radius: 3px;
        font-size: 16px;
        width: 50px;
   
        box-shadow: 3px 3px 0px rgb(103,137,131);

    }
    button > p{
        color:rgb(230,221,196);
        align-items: center;
    }


/*FIN SECCION VIDEO*/

/*INICIO SECCIO PIE DE PAGINA*/
footer{
    background-color: rgb(103,137,131);
    padding: 40px;
    /*display: flex;*/
   justify-content: space-around;
   
}

    h6{
        text-transform: uppercase;
        font-size: 15px;
        display: inline;
        padding-right: 20px;
        margin-right: 20px;
        
        
    }

    img{
        width: 15%;
    }

    div > p{
        text-align: justify;
        font-size: 15px;
        display: inline;
        padding-left: 250px;
        color: black;
        margin: 5px;
        
    }


    

/*FIN SECCION PIE DE PAGINA*/